

nav .brand-logo {
    font-size: 1.7rem;
    margin-left: 0px;
}

.cursive{
    /* font-family: 'Balsamiq Sans', cursive; */
}



.weight {
  padding-left: 60px;
}

.lever {
  margin-left: 10px;
}

.healthy-label {
  margin-left: 10px !important;
}

.range-field {
  margin-left: 43.5px;
}

.overlay {
  background: black;
}

.landing-recipe-images {
  opacity: 0.6;
}

.card-content {
    position: relative;
    color: black;
}
.card-reveal{
    postition: relative;
}
p {
    position: absolute; */
    bottom: 0;
}
.content-buttons{
    position: absolute;
    bottom: 10px;;
}

.card-title-reveal{
    font-size: 20px;
}




/* ADD RECIPE */
.caret {
  height: 0px !important;
}

/* .amount{
    padding-top: 25px !important;
} */


@media (min-width: 994px){
    nav .brand-logo {
    margin-left: 50px;
    }   
}