{% extends 'base.html' %} {% block content %}
<div class="container">
<h4 class="cursive">{{ page_title }}</h4>
{% if errors %}
    <div class="errorbox">
            <span>{{ errors }}</span>
    </div>
{% endif %}
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
      <!-- RECIPE NAME -->
      <div class="row">
        <div class="input-field col s11 m12">
          <i class="material-icons prefix hide-on-small-only">assignment</i>
          <input id="icon_prefix" name="recipe_name" maxlength="50" class="icon-hide" type="text" value="{{recipe_name}}"/>
          <label class="icon-hide" for="icon_prefix">Recipe Name</label>
        </div>
      </div>
      <!-- RECIPE DESCRIPTION -->
      <div class="row">
        <div class="input-field col s11 m12">
          <i class="material-icons prefix hide-on-small-only">subject</i>
          <input class="icon-hide" id="icon_prefix2" name="recipe_description" maxlength="185" type="text" value="{{recipe_description}}"
          ></input>
          <label class="icon-hide" for="icon_prefix2">Recipe Description</label>
        </div>
      </div>
      <!-- RECIPE COST & TIME NO SLIDERS -->
      <div class="row">
        <!-- <div class="input-field col s5 m6">
          <i class="material-icons prefix">attach_money</i>
          <input id="cost_icon_prefix" name="recipe_cost" maxlength="185" type="text" value="{{recipe_cost}}"
          ></input>
          <label for="cost_icon_prefix">Cost</label>
        </div> -->
        <div class="input-field col s5 m6">
            <i class="material-icons prefix hide-on-small-only">attach_money</i>
            <select class="icon-hide" id="recipe_cost" name="recipe_cost" value="{{recipe_cost}}">
                <option value="" disabled selected>Cost</option>
                <option value="£">£</option>
                <option value="£">££</option>
                <option value="£">£££</option>
            </select>
            <label class="icon-hide" >Cost</label>
        </div>     
        <div class="input-field col s6 m6">
          <i class="material-icons prefix hide-on-small-only">access_time</i>
          <input class="icon-hide-max" id="time_icon_prefix" name="recipe_time" maxlength="12" type="text" value="{{recipe_time}}"
          ></input>
          <label class="icon-hide-max" for="time_icon_prefix">How Long?</label>
        </div>
      </div>
      <!-- IMAGE/CUISINE SELECT -->
      <div class="row">
        <div class="input-field col s11 m12">
            <i class="material-icons prefix hide-on-small-only">camera_alt</i>
            <select id="cuisine" name="recipe_cuisine_image" class="icons icon-hide" required >
              <option value="" disabled selected >Choose your image!</option>
                    {% for cuisine in cuisines %}
                        <option value="{{cuisine.cuisine_image}}" data-icon="{{cuisine.cuisine_image}}">{{cuisine.cuisine_name}}</option>
                    {% endfor %}
            </select>
            <label class="icon-hide">Recipe Cuisine</label>
          </div>
      </div>
      <!-- Switches -->
      <div class="row">
        <div class="switch col s6">
          <i class="material-icons prefix weight hide-on-small-only">fitness_center</i>
          <label class="icon-hide-max healthy-label">
            <input class="icon-hide-max" class="light-green darken1" id="is_healthy" name="is_healthy" type="checkbox"/>
            <span class="lever"></span>
            Healthy!
          </label>
        </div>
        <div class="s0 m0 l0"></div>
        <div class="switch col s6">
          <i class="material-icons prefix weight hide-on-small-only">local_florist</i>
          <label class="icon-hide-max healthy-label">
             <input class="icon-hide-max" id="is_vegetarian" name="is_vegetarian" type="checkbox" false/>
            <span class="lever"></span>
            Veggie!
          </label>
        </div>
    </div>
      <br>
    <div id="ingredients" class="ingredients row">
        <h4 class='exo' >Ingredients</h4>
        <h6 class="exo">Please enter each ingredient on a new line. (Press Enter after each ingredient)</h6>
        <br>
        <div class="input-field col s12">
            <i class="material-icons prefix hide-on-small-only">subject</i>
            <textarea name="recipe_ingredients" id="textarea2 recipe_ingredients" class="materialize-textarea icon-hide ingredient-input" value="{{recipe_ingredients}}" data-length="120" placeholder="Enter each item on a new line"></textarea>
        </div>
    </div>  
        <br>
    <div id="instructions" class="instructions row">
        <h4 class='exo' >Instructions</h4>
        <h6 class="exo">Please enter each instruction on a new line. (Press Enter after each step)</h6>
        <br>
        <div class="input-field col s12">
            <i class="material-icons prefix hide-on-small-only">subject</i>
            <textarea name="recipe_instructions" id="textarea2 recipe_ingredients" class="materialize-textarea icon-hide ingredient-input" value="{{recipe_instructions}}" data-length="120" placeholder="Enter each step on a new line"></textarea>
        </div>
    </div>   
        <div class="row">
            <button class="btn waves-effect light-green darken1 waves-light" type="submit" name="action">
            Add Recipe<i class="material-icons right">playlist_add</i></button>
        </div>
    </form>
</div>

{% endblock %}