<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="outside">
      <!-- <header>
        <nav>
          <div class="nav-wrapper light-green darken-1">
            <a href="{{url_for('get_recipes')}}" class="brand-logo cursive"
              >Primal Recipes</a
            >
            <a href="#" data-target="mobile-demo" class="button-collapse"
              ><i class="material-icons">menu</i></a
            >
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{{url_for('get_recipes')}}">Home</a></li>
              <li><a href="{{url_for('add_recipe')}}">New Task</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="{{url_for('get_recipes')}}">Home</a></li>
              <li><a href="{{url_for('add_recipe')}}">New Task</a></li>
            </ul>
          </div>
        </nav>
      </header> -->



<nav>
    <div class="nav-wrapper light-green darken1">
      <a href="href={{url_for('get_recipes')}}" class="brand-logo cursive">Primal Recipes</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
        <li><a href="{{url_for('add_recipe')}}">Add Custom Recipe</a></li>
        <!-- <li><a href="collapsible.html">Javascript</a></li> -->
        <!-- <li><a href="mobile.html">Mobile</a></li> -->
      </ul>
    </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{url_for('get_recipes')}}">All Recipes</a></li>
    <li><a href="{{url_for('add_recipe')}}">Add Custom Recipes</a></li>
    <!-- <li><a href="collapsible.html">Javascript</a></li> -->
    <!-- <li><a href="mobile.html">Mobile</a></li> -->
  </ul>
      {% block content %} {% endblock %}
    </div>


    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script src="static/js/script.js"></script> -->
    <script type="text/javascript">
    
      $(document).ready(function () {
        $("select").formSelect();
        // $("select").material_select();
        $('.sidenav').sidenav();
      });
    </script>
  </body>
</html>
