{% extends 'base.html' %} {% block content %}
<h3>{{ page_title }}</h3>
<div class="container">
  <div class="row">
      
        {% for cuisine in cuisines %}
        {% endfor %}
        {% for recipe in recipes %}
        {% endfor %}

</div>


<div id="green" class="row">
    <a class="waves-effect waves-light green btn">button</a>
</div>

<br>
<br>
{% for a in arr %}
<h1><span id="thisone">5</span></h1>
{% endfor %}
<br>
<br>


<div class="row countBtn">
<a id="red" class="waves-effect waves-light red btn" action="{{ url_for('add_ingredient') }}">button</a>
</div>



  
  </div>


  

{% endblock %}


<div class="row">
            <div class="input-field col s8 m3">
                <i class="material-icons prefix">add</i>
                <input id="ingredient_name_1" name="ingredient_name_1" type="text" value="{{recipe.ingredient_name_1}}" required/>
                <label for="icon_prefix">Ingredient</label>
            </div>
            <div class="input-field col s3 m3">
                <input id="ingredient_measure_1" name="ingredient_measure_1" type="text" value="{{recipe.ingredient_measure_1}}" required/>
                <label for="icon_prefix">(e.g Tsp)</label>
            </div>
            <div class="col center s11 m6">
            <p class="amount range-field">
                <label>Quantity</label>
                <input id="ingredient_amount_1" name="ingredient_amount_1" type="range" id="test5" min="0" max="500" value="{{recipe.ingredient_amount_1}}"/>
            </p>
            </div>
        </div>    