{% extends 'base.html' %} {% block content %}

<h2>Recipes</h2>

<div class="row">
  <div class="container w">
    {% for recipe in recipes %}
    <a href="#">
      <div class="col s12 m6 l4">
        <div class="card small">
          <div class="card-image">
            <img src="{{recipe.recipe_image}}"/>
            <span class="card-title">{{recipe.recipe_name}}</span>
          </div>
          <div class="card-content">
            {{recipe.recipe_description}}
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- <div>
    <img src="static/images/pancakes.jpg">
  </div> -->

{% endblock %}

<!-- 
{{recipe.recipe_name}}
{{recipe.is_healthy}} {{recipe.recipe_cost}} -->
