{% extends 'base.html' %} {% block content %}
<div class="container">
<!-- Header -->
   <header class="evolve">
      <img src="static/images/evolve.png" alt="Primal Recipes">
      <h2>{{page_title}}</h2>
   </header>
   <div class="row">
   <!-- Loops through recipes creating cards for each recipe -->
      {% for recipe in recipes %}
      <div class="col s12 m6 l4">
         <div class="card small">
            <div class="card-image overlay">
               <a href="{{url_for('read_recipe', recipe_id=recipe._id)}}"><img class="landing-recipe-images" src="{{recipe.recipe_cuisine_image}}" alt="Recipe Image"/>
               <span class="card-title">{{recipe.recipe_name}}</span>
               </a>
            </div>
            <!-- A small bit of information, cost and time -->
            <a href="{{url_for('read_recipe', recipe_id=recipe._id)}}">
               <div class="card-content activator">
                  <p class="activator black-text">Recipe time: {{recipe.recipe_time}}</p>
                  <br class="activator" />
                  <p class="activator black-text">Recipe cost: {{recipe.recipe_cost}}</p>
                  <br class="activator" />
                  <br class="activator" />
                  <p class="activator blue-text">Click to view recipe</p>
               </div>
            </a>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock %}